extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot your password?
            p(style='color: white; font-size: 1rem; margin-bottom: 2rem;') Enter your email address and we’ll send you a password reset link.
            form.form.form--forgot
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green Send password reset Email
                .form__group
                    p(style='text-align: right; color: white; font-size: 0.9rem;')
                        a(href='/login', style='color: #55c57a; text-decoration: none;') Back to login
