extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password
            p(style='color: white; font-size: 1rem; margin-bottom: 2rem;') Enter your new password below.
            form.form.form--reset-password
                .form__group
                    label.form__label(for='password') New password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    label.form__label(for='passwordConfirm') Confirm new password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Change password
